.todoListWrapper {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #ff2851;
}

.todoListWrapper + .todoListWrapper {
    margin-left: 10px;
}

.headerWrapper {
    background-color: #0a0224;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 0;
}

.headerWrapper .title {
    font-size: 25px;
    font-weight: bold;

}

.headerWrapper .tasksCounter {
    font-size: 15px;
    font-weight: bold;
}

.tasksWrapper {
    background-color: #ff2851;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.taskWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


/* Customize the label (the container) */
.checkBox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.taskWrapper .taskDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskWrapper .taskTitle {
    font-size: 23px;
    font-weight: bold;
}

.taskWrapper .taskText {
    font-size: 18px;
}

.addTaskFormWrapper {
    background-color: #0a0224;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 0 20px;*/
}

.addTaskFormWrapper .title {
    color: #ff2851;
    font-weight: bold;
}

.addTaskFormWrapper input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
}

.addTaskFormWrapper input::placeholder {
    color: #fff;
}

.addTaskFormWrapper .addTitle {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}


.addTaskFormWrapper .addText {
    width: 100%;
    position: relative;
}

.addTaskFormWrapper .addText:after,
.addTaskFormWrapper .addTitle:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: .3;
}


.buttonAddWrapper {
    display: block;
    position: relative;
    /*bottom: 0;*/
    /*right: 0;*/
    background-color: #0a0224;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.buttonAddWrapper:before, .buttonAddWrapper:after {
    position: absolute;
    left: 14px;
    top: 8px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #fff;
}

.buttonAddWrapper:before {
    transform: rotate(0deg);
}

.buttonAddWrapper:after {
    transform: rotate(-90deg);
}

.buttonFormWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 30px;
}

.buttonFormWrapper .btnClose {
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
    outline: 1px solid transparent;
}

.buttonFormWrapper .btnClose:hover {
    background-color: #ff2851;
}

.buttonFormWrapper .btnSave {
    background-color: #ff2851;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
    outline: 1px solid transparent;
}

.buttonFormWrapper .btnSave:hover {
    background-color: #ff2851c7;
}